

/* generale */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* sub-generale */
.midlane {
    width: 70%;
    margin: auto;
    position: relative;
}

.button {
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 25px;
}

/* header */

/* jumbo */
#jumbotron {
    height: 70vh;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    object-fit: none;

    /* debug */
    /* background-color: blue; */
}


/* navigation bar */
#top-bar img {
    position: absolute;
    top: 20px;
    left: 0;
}

#top-bar nav,li,a{
    text-decoration: none;
    color: white;
    display: inline-block;
}

#top-bar nav {
    position: absolute;
    top: 20px;
    right: 30%;
}

#top-bar li {
    margin: 0 10px;
}

#top-bar span {
    text-decoration: none;
    text-align: right;
}

#top-bar .button {
    position:absolute;
    right: 0px;
    top: 20px;
    height: 40px;
    width: 60px;
    padding: 10px;
}


/* middle site */
#mid-text {
    position: absolute;
    top: 30vh;
    left: 50% ;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 50%;
    color: white;
}

#mid-text nav {
    display: block;
}

#mid-text h1 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bolder;
}

#mid-text p {
    line-height: 20px;
    font-size: 15px;
    margin-bottom: 20px;
}

#mid-text .button {

    padding: 20px;
    margin-left: 30px;

}
 
.button.black {
    background-color: black;
    color: white;
}


/* main */


/* generali per le section */
.main-section {
    height: 80vh;
    padding: 20% 0;
    margin-bottom: 20%;
    /* debug */
    /* background-color:indianred; */
}


.side {
    float: left;
    width: 50%;
}

.side.text {
    padding-left: 21%;
    max-width: 45%;
}
.text h2 {
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 30px;
    line-height: 40px;
}

.text p {
    font-size: 15px;
    line-height: 20px;
}


/* sezione 2 */
.side.text.left {
    padding: 0;
    padding-right: 20%;
}

/* sezione finale */
#last-section {
    text-align: center;
    padding-bottom: 100px;
}

#last-section p {
    padding: 0 10%;
    
}

#last-section .button {
    padding: 20px;
    margin-left: 30px;
    color: white;
    background-color: mediumpurple;
}

/* particelle */

#particel {
    background-image: url("../img/stars.svg");
}


/* freccia in giu*/

.long-arrow-alt-down::before {
    font-size: 30px;
    color: black;
}


/* footer */

/* footer up */

footer {
    background-color: rgba(33, 14, 54, 0.993);
    height: 70vh;
}

#foot-section {
    width: 70%;
    height: 70vh;
    margin: auto;
    padding: 5% 0;
}

.left-foot {
    float: left;
    width: 40%;
    color: white;
}

#italiano {
    margin-top: 10px;
    height: 20px;
}

#social i {
    font-size: 20px;
    margin: 20px 10px 0 0;
}

.right-foot {
    width: 15%;
    float: left;
    color: white;
    margin-bottom: 10px;
}

.right-foot li {
    display: block;
    font-size: 12px;
    line-height: 25px;
}
#foot-section h2,h3 {
    color: mediumpurple;
}

/* footer down */

.bottom-foot {
    border-top: 2px solid purple;
    padding: 5% 0;
    position: relative;
}

.bottom-foot img {
    position: absolute;
    left: 0;
    bottom: 0;
}

.bottom-foot .button {
    position: absolute;
    right: 0;
    bottom: 0;

    padding: 10px;
    color: white;
    background-color: mediumpurple;
}





